.App {
  text-align: center;
}




/* ProductList Css */
.list ul{
  border:  1px solid;
  list-style: none;
  display: inline-block;
  padding: 20px;
  background-color: antiquewhite ;
  margin: 20px;
  
}
.list li{
  font-size: 36px;
  text-align: center;
   

}




/* addproduct css */
pre {
  font-size: 30px;
}

button{
  padding: 15px 20px;
  font-size: 20px;
  background-color: cyan;
  border-color: black;
  border-radius: 20px
}

input {
  padding: 12px 40px;
  font-size: 20px;
}